{% import "bootstrap/utils.html" as utils %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Task Manager{% endblock %}</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    </head>
    <body>
        {% include "nav.html" %}
        {% block fullpage %}
        {{ utils.flashed_messages() }}
        <div class="container">
            <div class="page-header">
                {% block header %}{% endblock %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {% block scripts %}{% endblock %}

    </body>
</html>
