{% extends "base.html" %}
{% block title %}Task Manager{% endblock %}
{% block header %}<h1>{{list["name"]|e}}</h1>{% endblock %}
{% block content %}

<div class="btn-group" role="group" aria-label="...">
    <a href="{{ url_for("editList", pk=list["id"]) }}" class="btn btn-warning">Edit name</a>
    <a href="{{ url_for("deleteList", pk=list["id"]) }}" class="btn btn-danger">delete list</a>
</div>

<h3>Add todo:</h3>
{% import "bootstrap/wtf.html" as wtf %}
{{wtf.quick_form(todoForm, action=url_for("addTodo", list_id=list["id"]), form_type="inline")}}

</br>

<h3>Todos:</h3>
<div class="list-group">
{% for todo in list["todos"] %}
        <li class=list-group-item>
            {{todo["todo"]|e}}
            <span class="badge"><a href={{ url_for("delTodo", list_id=list["id"], pk=todo["id"])}} class="badge"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
            <span class="badge"><a href="{{ url_for("editTodo", list_id=list["id"], pk=todo["id"]) }}" class="badge"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></span>
        </li>
{% endfor %}
</div>

{% endblock %}
