{# Load the tag library #}
{% load bootstrap3 %}

<html>
    <head>
        <title>Register</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            {% with next=request.GET.next %}
            {% bootstrap_messages %}
            <h1>Register to our wonderful todo-list system.</h1>

            <form action="{% url "registration_register" %}" method="post" class="form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                {% endbuttons %}
            </form>
            <p class="lead">You can click <a href="{% url "auth_login" %}{% if next %}?next={{next|urlencode}}{% endif %}">here</a> if you want to log you in.</p>
            {% endwith %}
        </div>
    </body>
</html>

